body{
    margin: 0;
}
.logo{
    margin-left: 2vw;
}
.nav{
    background-color: rgb(255, 255, 255);
    color: rgba(4, 57, 94, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
    display: flex;
}

.nav a.active{
    text-decoration:double;
}
.color_bg{
    background: rgba(4, 57, 94, 1);
}
.login_form{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder {
    color: white;
    padding-left: 10px;
}
.login_label{
    font-size: xx-large;
    color: rgba(255, 255, 255, 1);
}
.button_style{
    color: rgba(4, 57, 94, 1);
    background-color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 6px;
    padding: 4px;
}